.brand{
    font-family: "Gloucester MT Extra Condensed", lcqf !important;
    color: white !important;
    text-transform: uppercase;
}

.brandFont{
    font-family: "Gloucester MT Extra Condensed", lcqf ;

}

.bordure{
    background-image: url(/img/bordure.png);
    background-repeat: repeat-x;
    background-position: bottom;
    padding-bottom: 15px;
}

.camion_head{
    height: 1em;
    margin-bottom: 8px;
}

.contact{
    color: white;
}

iframe.youtube{
    width: 560px;
    height: 315px;
}

iframe.maps {
    width: 800px ;
    height: 400px;
}

@media screen and (max-width: 410px) {
    iframe.youtube{
        width: 340px;
        height: 200px;
    }

    iframe.maps {
        width: 340px ;
        height: 400px;
    }
}