<!-- Services Section -->
    <section id="valeurs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nos valeurs et nos engagements</h2>
                    <!--<h3 class="section-subheading text-muted">La vision et les valeurs</h3>-->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <!--<h4 class="service-heading">Des produits frais</h4>-->
                    <!--<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>-->
<!--
                    <ul>
                        <li>Qualité et fraîcheur des produits</li>
                    </ul>
-->
                    <p>Qualité et fraîcheur des produits</p>
                    <p>Viandes 100% française du terroir</p>
                    <p>Pain artisanal</p>
                    <p>Recettes établies en fonction des saisons</p>
                </div>
<!--
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Nos produits</h4>
                    <p>Burger et frites maison</p>
                    <p>Salade repas</p>
                    <p>Sandwich</p>
                    <p>Dessert maison</p>
&lt;!&ndash;
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
&ndash;&gt;
                </div>
-->
<!--
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
-->

            </div>

        </div>
    </section>

<section id="produits">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nos produits</h2>
                <!--<h3 class="section-subheading text-muted">La vision et les valeurs</h3>-->
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                    </span>
                <p>Burger et frites maison</p>
                <p>Salade repas</p>
                <p>Sandwich</p>
                <p>Dessert maison</p>
                <!--
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                -->
            </div>
            <!--
                            <div class="col-md-4">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                                </span>
                                <h4 class="service-heading">Web Security</h4>
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                            </div>
            -->
        </div>
    </div>
</section>