<section id="where">
    <dic class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Où nous trouver</h2>
                <!--<h3 class="section-subheading text-muted">La vision et les valeurs</h3>-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-map-signs fa-stack-1x fa-inverse"></i>
                </span>

                <p><span class="brandFont">Le Camion Qui Fabrique</span> sera tous les midis à partir du <strong>03/01/2017</strong> sur le parking de Brico Dépôt</p>
            </div>
<!--
            <div class="col-lg-12 text-center" class="hidden-xs">

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2884.1475539526714!2d4.193120715970717!3d43.707482556936014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b4271155555549%3A0xd3cea51e87007b5a!2zQnJpY28gRMOpcMO0dCBOw65tZXMvQWlndWVzLVZpdmVz!5e0!3m2!1sfr!2sfr!4v1479660502356" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

            </div>
-->
            <div class="col-lg-12 text-center " >
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2884.1475539526714!2d4.193120715970717!3d43.707482556936014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b4271155555549%3A0xd3cea51e87007b5a!2zQnJpY28gRMOpcMO0dCBOw65tZXMvQWlndWVzLVZpdmVz!5e0!3m2!1sfr!2sfr!4v1479660502356" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </dic>
</section>